#content {
    margin: 0 auto;
    width: 600px;
}

.error {
    color: red;
}

.feedback.correct {
    color: green;
}

.feedback.wrong {
    color: red;
}

.collection-box {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.kanji-list a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    text-align: center;
}

.kanji-list .known {
    background-color: white;
    color: black;
}

.kanji-list :not(.known) {
    background-color: black;
    color: white;
}

.kanji-list :not(.known):hover {
    background-color: white;
    color: black;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.center-v {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}